:root{
    --accent: aquamarine;
}

body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;

    text-align: center;
    padding: 100px;
}

section{
    padding:20px;
    margin:40px;
}

h1 {
    color: var(--accent);
}

blockquote {
    font-style: italic;
    color: var(--accent);
    margin: 30px 0;
}

.project-card {
    background-color: #2a2a2a;
    max-width: 800px;
    margin: 50px auto;
    padding: 45px;
    border-radius: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

ol {
    list-style: none;
    padding: 0;
}

h2 {
    margin-top: 40px;
    margin-bottom: 15px;
}

a {
    color:var(--accent);
    padding: 20px;
}

.button {
    color:var(--accent);
    transition: background-color 0.3s;
    background-color: #494949;
    border-radius: 40px;

}

.button:hover {
    background-color: var(--accent);
    color: #494949;
}

/*
Content -> What's inside
Padding -> Space inside
Border  -> Outline
Margin -> Space outside
*/